name: Build Cidade Real

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Preparar ambiente
        run: |
          mkdir -p build/gamemodes
          mkdir -p build/filterscripts

          chmod +x qawno/pawncc
          chmod +x qawno/libpawnc.so

          export LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno:$LD_LIBRARY_PATH

      - name: Compilar Gamemodes
        run: |
          for gm in gamemodes/*.pwn; do
            echo "Compilando $gm"
            ./qawno/pawncc "$gm" \
              -i"qawno/include" \
              -o"build/gamemodes/$(basename "${gm%.pwn}.amx")" \
              -d3 -Z+ -O1
          done

      - name: Compilar Filterscripts
        run: |
          if ls filterscripts/*.pwn 1> /dev/null 2>&1; then
            for fs in filterscripts/*.pwn; do
              echo "Compilando $fs"
              ./qawno/pawncc "$fs" \
                -i"qawno/include" \
                -o"build/filterscripts/$(basename "${fs%.pwn}.amx")" \
                -d3 -Z+ -O1
            done
          else
            echo "Nenhum filterscript encontrado"
          fi

      - name: Criar ZIP final
        run: |
          cd build
          zip -r cidade_real_build.zip gamemodes filterscripts

      - name: Upload do ZIP
        uses: actions/upload-artifact@v4
        with:
         
          -name: cidade_real_build
          path: build/cidade_real_build.zip
          
