name: Compilar Gamemode open.mp

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Instalar Compilador Pawn
      run: |
        wget github.com
        tar -xzf pawnc-3.10.11-linux.tar.gz
        sudo cp bin/pawncc /usr/local/bin/
        chmod +x /usr/local/bin/pawncc

    - name: Compilar Gamemode
      run: |
        mkdir -p build/gamemodes
        pawncc gamemodes/cidade_real.pwn \
        -iinclude \
        -o build/gamemodes/cidade_real.amx \
        -d3 -Z+ -O1
