name: Build Cidade Real

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compilar Gamemode
        run: |
          # Criar pasta de saída
          mkdir -p build/gamemodes
          
          # Dar permissão para o seu compilador que está na pasta qawno
          chmod +x qawno/pawncc
          
          # EXECUTAR A COMPILAÇÃO
          # -i indica as pastas de include (estamos usando a sua qawno/include)
          ./qawno/pawncc gamemodes/cidade_real.pwn \
            -iqawno/include \
            -iinclude \
            -o build/gamemodes/cidade_real.amx \
            -d3 -Z+ -O1
