name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile Gamemode
        uses: pwn-lang/compiler-action@v1
        with:
          # Caminho para o seu arquivo principal
          entrypoint: "gamemodes/cidade_real.pwn"
          # Pasta onde estão suas includes locais
          include: "include"
          # Onde salvar o arquivo final
          output: "build/gamemodes/cidade_real.amx"
          # Argumentos de compilação
          args: "-d3 -Z+ -O1"
