name: Compilar Cidade Real RP 2026

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Baixar Compilador Pawn Oficial
        run: |
          # Baixando o compilador diretamente da fonte oficial
          wget "github.com" -O pawnc.tar.gz
          tar -xvf pawnc.tar.gz
          chmod +x bin/pawncc

      - name: Configurar Includes open.mp
        run: |
          git clone --depth 1 github.com omp_inc
          mkdir -p include
          cp -r omp_inc/*.inc include/

      - name: Compilar Gamemode RP
        run: |
          mkdir -p gamemodes
          # O comando abaixo transforma seu código em jogo
          ./bin/pawncc gamemodes/cidade_real.pwn -iinclude -o"gamemodes/cidade_real.amx" "-;+" "-(+"

      - name: Upload para o Termux
        uses: actions/upload-artifact@v4
        with:
          name: Cidade-Real-AMX
          path: gamemodes/cidade_real.amx
