name: Compilar Cidade Real RP

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Instalar dependências de sistema (32-bit)
        run: |
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt install -y gcc-multilib libc6:i386 libstdc++6:i386 libncurses5:i386 libtinfo5:i386

      - name: Instalar Dependências Pawn (open.mp e YSI)
        run: |
          mkdir -p qawno/include
          
          # 1. Baixar open.mp stdlib (O link que faltava)
          git clone --depth 1 https://github.com/goph/stdlib
          
          # 2. Baixar YSI Includes
          git clone --depth 1  https://github.com/pawn-lang/YSI-Includes

      - name: Preparar Compilador
        run: |
          chmod +x qawno/pawncc
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno:$LD_LIBRARY_PATH" >> $GITHUB_ENV

      - name: Compilar Gamemodes
        run: |
          mkdir -p build/gamemodes
          for file in gamemodes/*.pwn; do
            [ -f "$file" ] || continue
            echo "Compilando: $file"
            ./qawno/pawncc "$file" \
              -i"qawno/include" \
              "-;+" "-(+" -d3 \
              -o"build/gamemodes/$(basename "${file%.pwn}.amx")"
          done

      - name: Compilar Filterscripts
        run: |
          mkdir -p build/filterscripts
          for file in filterscripts/*.pwn; do
            [ -f "$file" ] || continue
            echo "Compilando: $file"
            ./qawno/pawncc "$file" \
              -i"qawno/include" \
              "-;+" "-(+" -d3 \
              -o"build/filterscripts/$(basename "${file%.pwn}.amx")"
          done

      - name: Upload AMX (Cidade Real RP)
        uses: actions/upload-artifact@v4
        with:
          name: CidadeRealRP-Compilado
          path: build/
