name: Compilar Cidade Real RP 2026

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Instalar Suporte 32-bit e Fix Libs
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y gcc-multilib libc6:i386 libncurses6:i386 libstdc++6:i386 libsqlite3-0:i386
          sudo ln -s /usr/lib/i386-linux-gnu/libncurses.so.6 /usr/lib/i386-linux-gnu/libncurses.so.5
          sudo ln -s /usr/lib/i386-linux-gnu/libtinfo.so.6 /usr/lib/i386-linux-gnu/libtinfo.so.5

      - name: Baixar YSI e Includes do open.mp
        run: |
          mkdir -p qawno/include
          # AQUI ESTA O SEU LINK CORRIGIDO COM O COMANDO CLONE:
          git clone --depth 1 "https://github.com/pawn-lang/YSI-Includes" qawno/include/YSI-Includes
          cp -r qawno/include/YSI-Includes/YSI qawno/include/
          
          # Baixando a include principal do open.mp (Essencial para 2026)
          wget "https://raw.githubusercontent.com" -O qawno/include/open.mp.inc
          
          # Baixando as sub-includes (omp_*.inc) para evitar os 26 erros
          git clone --depth 1 "github.com" qawno/include/omp_temp
          cp qawno/include/omp_temp/*.inc qawno/include/
          rm -rf qawno/include/omp_temp

      - name: Configurar Compilador
        run: |
          chmod +x ./qawno/pawncc
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno" >> $GITHUB_ENV

      - name: Compilar Tudo (Gamemodes e Filterscripts)
        run: |
          # O parametro -i- limpa o cache e evita conflitos de nomes
          for file in gamemodes/*.pwn; do
            if [ -f "$file" ]; then
              echo "Compilando Gamemode: $file..."
              ./qawno/pawncc "$file" -i- -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
            fi
          done

      - name: Upload Binarios (AMX)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-AMX-2026
          path: gamemodes/*.amx
