name: Compilar Cidade Real RP 2026

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Compilar Game Mode
        run: |
          chmod +x ./qawno/pawncc
          export LD_LIBRARY_PATH=$(pwd)/qawno
          ./qawno/pawncc gamemodes/cidade_real.pwn -i"qawno/include" -o"gamemodes/cidade_real.amx" "-;+" "-(+" -d3

      - name: Upload AMX
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-AMX
          path: "gamemodes/cidade_real.amx"
