name: Compilar Cidade Real RP 2026

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Instalar Suporte 32-bit e Libs Antigas
        run: |
          sudo dpkg --add-architecture i386
          # Adiciona repositório de segurança do Ubuntu 22.04 para achar a libncurses5
          echo "deb http://security.ubuntu.com/ubuntu focal-security main universe" | sudo tee /etc/apt/sources.list.d/focal-security.list
          sudo apt-get update
          # Agora instalamos as libs de 32 bits necessárias
          sudo apt-get install -y gcc-multilib libc6:i386 libncurses5:i386 libstdc++6:i386

      - name: Configurar Compilador
        run: |
          chmod +x ./qawno/pawncc
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno" >> $GITHUB_ENV
          sudo ldconfig $GITHUB_WORKSPACE/qawno

      - name: Compilar Tudo Automático
        run: |
          # Compila GameModes
          for file in gamemodes/*.pwn; do
            ./qawno/pawncc "$file" -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
          done
          # Compila Filterscripts
          if [ -d "filterscripts" ]; then
            for file in filterscripts/*.pwn; do
              ./qawno/pawncc "$file" -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
            done
          fi

      - name: Upload Binarios (AMX)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-Full-Package
          path: |
            gamemodes/*.amx
            filterscripts/*.amx
