      - name: Compilar
        run: |
          chmod +x ./qawno/pawncc
          export LD_LIBRARY_PATH=$(pwd)/qawno
          # Compilando e garantindo que o arquivo vรก para a pasta gamemodes
          ./qawno/pawncc gamemodes/cidade_real.pwn -i"qawno/include" -o"gamemodes/cidade_real.amx" "-;+" "-(+" -d3

      - name: Upload AMX
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-AMX
          # O asterisco ajuda a encontrar o arquivo caso o caminho mude levemente
          path: "**/*.amx"
