name: Compilar Cidade Real RP 2026

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Instalar Compilador Pawn Oficial
        uses: Southclaws/setup-pawn@v1
        with:
          pawn-version: '3.10.10'

      - name: Instalar Includes do open.mp
        run: |
          git clone --depth 1 github.com omp_inc
          mkdir -p include
          cp -r omp_inc/*.inc include/

      - name: Compilar Gamemode
        run: |
          # Garante que a pasta de saída existe
          mkdir -p gamemodes
          
          # COMANDO DE COMPILAÇÃO (Mude 'cidade_real' se o seu arquivo tiver outro nome)
          pawncc gamemodes/cidade_real.pwn -iinclude -o"gamemodes/cidade_real.amx" -;+ -(+

      - name: Gerar Link de Download (.amx)
        uses: actions/upload-artifact@v4
        with:
          name: Cidade-Real-RP-Compilada
          path: gamemodes/cidade_real.amx
