name: Compilar Cidade Real RP 2026
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compilar
        run: |
          chmod +x ./qawno/pawncc
          export LD_LIBRARY_PATH=$(pwd)/qawno
          # Comando limpo apontando para a subpasta include
          ./qawno/pawncc gamemodes/cidade_real.pwn -i"qawno/include" -o"gamemodes/cidade_real.amx" "-;+" "-(+" -d3
