name: Compilar Cidade Real RP (Linux)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest  # Usa Linux para ser compatível com seu pawncc
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar permissões e bibliotecas
        run: |
          # Dá permissão de execução para o compilador
          chmod +x ./qawno/pawncc
          # Adiciona a pasta qawno ao caminho de bibliotecas para encontrar a libpawnc.so
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/qawno" >> $GITHUB_ENV

      - name: Compilar AMX
        run: |
          ./qawno/pawncc gamemodes/cidade_real.pwn -i:qawno/include -o:gamemodes/cidade_real.amx -;+ -(+ -d3
