name: Compilar Cidade Real RP 2026

on: 
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar codigo do repositorio
        uses: actions/checkout@v4

      - name: Preparar Compilador e Compilar
        run: |
          # 1. Dar permissão de execução ao compilador que você enviou
          chmod +x ./qawno/pawncc
          
          # 2. Configurar o caminho para encontrar a libpawnc.so
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/qawno
          
          # 3. Executar a compilação com as aspas corretas para o Linux
          # Certifique-se que o arquivo gamemodes/cidade_real.pwn existe
          ./qawno/pawncc gamemodes/cidade_real.pwn -i:qawno/include -o:gamemodes/cidade_real.amx '-;+' '-(+' -d3

      - name: Upload do arquivo compilado (AMX)
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-AMX
          path: gamemodes/cidade_real.amx
