name: Compilar Cidade Real RP 2026

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Instalar Ambiente open.mp
        run: |
          # Baixa o servidor completo para usar o compilador e os includes oficiais
          curl -L "github.com" -o omp.tar.gz
          tar -xzvf omp.tar.gz
          chmod +x qawno/pawncc

      - name: Preparar Pastas
        run: |
          # Se o seu arquivo .pwn estiver na raiz, movemos para a pasta gamemodes
          mkdir -p gamemodes
          # Procura qualquer arquivo .pwn e move para a pasta gamemodes
          find . -maxdepth 1 -name "*.pwn" -exec mv {} gamemodes/cidade_real.pwn \;

      - name: Compilar Gamemode
        run: |
          # Comando oficial de compilação 2026
          LD_LIBRARY_PATH=$(pwd)/qawno ./qawno/pawncc gamemodes/cidade_real.pwn -i./qawno/include -o"gamemodes/cidade_real.amx" "-;+" "-(+"

      - name: Gerar AMX para o Termux
        uses: actions/upload-artifact@v4
        with:
          name: Cidade-Real-AMX
          path: gamemodes/cidade_real.amx
