name: Compilar Cidade Real RP 2026

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      # -- Ação oficial do open.mp para configurar tudo --
      - name: Setup open.mp environment
        uses: openmultiplayer/action-setup@v1
        with:
          pawn-version: 3.10.10

      - name: Compilar Gamemode RP
        run: |
          mkdir -p gamemodes
          # O comando abaixo transforma seu código em jogo
          pawncc gamemodes/cidade_real.pwn -iinclude -o"gamemodes/cidade_real.amx" "-;+" "-(+"

      - name: Gerar Arquivo para o Termux
        uses: actions/upload-artifact@v4
        with:
          name: Cidade-Real-AMX
          path: gamemodes/cidade_real.amx
