name: Compilar Gamemode open.mp

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Baixar open.mp compiler
      run: |
        wget https://github.com/openmultiplayer/open.mp/releases/latest/download/open.mp-linux.tar.gz
        tar -xzf open.mp-linux.tar.gz
        chmod +x open.mp/pawncc

    - name: Compilar Gamemode
      run: |
        mkdir -p build/gamemodes
        ./open.mp/pawncc gamemodes/cidade_real.pwn \
        -iinclude \
        -o build/gamemodes/cidade_real.amx
