name: Compilar Cidade Real RP 2026

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Instalar Suporte 32-bit
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y gcc-multilib libc6:i386 libncurses5:i386 libstdc++6:i386

      - name: Configurar Compilador
        run: |
          chmod +x ./qawno/pawncc
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno" >> $GITHUB_ENV
          sudo ldconfig $GITHUB_WORKSPACE/qawno

      - name: Compilar Tudo (GM e Filterscripts)
        run: |
          # Compila todas as GameModes
          for file in gamemodes/*.pwn; do
            ./qawno/pawncc "$file" -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
          done
          
          # Compila todos os Filterscripts automaticamente
          if [ -d "filterscripts" ]; then
            for file in filterscripts/*.pwn; do
              ./qawno/pawncc "$file" -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
            done
          fi

      - name: Upload Binarios (AMX)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-Full-Package
          path: |
            gamemodes/*.amx
            filterscripts/*.amx
