name: Compilar Cidade Real RP 2026

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Instalar Suporte 32-bit e Fix Libs
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          # Instalamos a libncurses6 (versão disponível) e demais libs 32-bit
          sudo apt-get install -y gcc-multilib libc6:i386 libncurses6:i386 libstdc++6:i386 libsqlite3-0:i386
          
          # Criamos o link simbólico para resolver a dependência da libncurses5 exigida pelo pawncc
          sudo ln -s /usr/lib/i386-linux-gnu/libncurses.so.6 /usr/lib/i386-linux-gnu/libncurses.so.5
          sudo ln -s /usr/lib/i386-linux-gnu/libtinfo.so.6 /usr/lib/i386-linux-gnu/libtinfo.so.5

      - name: Baixar YSI e Includes do open.mp
        run: |
          mkdir -p qawno/include
          git clone --depth 1 github.com qawno/include/YSI-Includes
          cp -r qawno/include/YSI-Includes/YSI qawno/include/
          wget raw.githubusercontent.com -P qawno/include/
          wget raw.githubusercontent.com -P qawno/include/

      - name: Configurar Compilador
        run: |
          chmod +x ./qawno/pawncc
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno" >> $GITHUB_ENV

      - name: Compilar Tudo (Gamemodes e Filterscripts)
        run: |
          for file in gamemodes/*.pwn; do
            if [ -f "$file" ]; then
              echo "Compilando Gamemode: $file..."
              ./qawno/pawncc "$file" -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
            fi
          done
          
          if [ -d "filterscripts" ]; then
            for file in filterscripts/*.pwn; do
              if [ -f "$file" ]; then
                echo "Compilando Filterscript: $file..."
                ./qawno/pawncc "$file" -i"qawno/include" -o"${file%.pwn}.amx" "-;+" "-(+" -d3
              fi
            done
          fi

      - name: Upload Binarios (AMX)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-AMX-2026
          path: |
            gamemodes/*.amx
            filterscripts/*.amx
