name: Compilar Cidade Real RP

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Instalar libs 32-bit
        run: |
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt install -y gcc-multilib libc6:i386 libstdc++6:i386 libncurses5:i386 libtinfo5:i386

      - name: Instalar Includes
        run: |
          mkdir -p qawno/include
          # Definindo as URLs em variaveis para nao haver erro de leitura
          URL_OMP="github.com"
          URL_YSI="github.com"
          
          git clone --depth 1 "$URL_OMP" /tmp/omp
          git clone --depth 1 "$URL_YSI" /tmp/ysi
          
          cp -r /tmp/omp/*.inc qawno/include/
          cp -r /tmp/ysi/YSI qawno/include/

      - name: Preparar Compilador
        run: |
          chmod +x qawno/pawncc
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno" >> $GITHUB_ENV

      - name: Compilar Gamemode
        run: |
          mkdir -p build/gamemodes
          for file in gamemodes/*.pwn; do
            [ -f "$file" ] || continue
            ./qawno/pawncc "$file" -i"qawno/include" "-;+" "-(+" -d3 -o"build/gamemodes/$(basename "${file%.pwn}.amx")"
          done

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: CidadeReal-AMX
          path: build/
