name: Build Cidade Real

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compilar Gamemode (open.mp)
        run: |
          mkdir -p build/gamemodes

          chmod +x qawno/omp-compiler
          chmod +x qawno/libpawnc.so

          export LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno:$LD_LIBRARY_PATH

          ./qawno/omp-compiler gamemodes/cidade_real.pwn \
            -i"qawno/include" \
            -o"build/gamemodes/cidade_real.amx" \
            -d3 -Z+ -O1
