name: Build Cidade Real

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compilar Gamemode
        run: |
          # 1. Criar pasta de saída
          mkdir -p build/gamemodes
          
          # 2. Dar permissão total na pasta qawno
          chmod +x qawno/pawncc
          chmod +x qawno/libpawnc.so
          
          # 3. Configurar o caminho das bibliotecas (Crucial para o erro 127)
          # Usamos o caminho absoluto com $GITHUB_WORKSPACE
          export LD_LIBRARY_PATH=$GITHUB_WORKSPACE/qawno:$LD_LIBRARY_PATH
          
          # 4. Executar a compilação
          # -i: aponta para as suas includes no qawno
          ./qawno/pawncc gamemodes/cidade_real.pwn \
            -i"qawno/include" \
            -o"build/gamemodes/cidade_real.amx" \
            -d3 -Z+ -O1
