name: Compilar Gamemode open.mp

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Compilar Gamemode
      uses: samp-dev/pawn-compiler-action@master
      with:
        template: gamemodes/cidade_real.pwn
        output: build/gamemodes/cidade_real.amx
        # Isso diz para o compilador usar as includes que já estão na sua pasta
        include: include 
        # Caso precise de flags extras como compatibilidade:
        arguments: -d3 -Z+ -O1
